body {
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
}
a {
  color: var(--font-color);
}
a:hover {
  color: var(--main-blue);
}
.page-content {
  max-width: 1088px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}
.flex-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.icon-btn {
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
  height: var(--finger-size);
  width: var(--finger-size);
}
.icon-btn:hover {
  color: var(--main-blue);
}
.default-input {
  border: none;
  outline: none;
  resize: none;
  padding: 4px 10px;
}
@media screen and (min-width: 768px) {
  .page-content {
    margin-top: 36px;
  }
  .flex-content {
    flex-direction: row;
  }
}
