body {
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--bg-color);
}
a {
  color: var(--font-color);
}
a:hover {
  color: var(--main-blue);
}
.page-content{
  max-width:923px;
  width:100%;
  margin-left:auto;
  margin-right: auto;
  padding-top:20px;
  padding-left:10px;
  padding-right: 10px;
}
.flex-content{
  display:flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.icon-btn{
  border:none;
  outline:none;
  background: inherit;
  cursor: pointer;
  height:var(--finger-size);
  width:var(--finger-size);
}
.icon-btn:hover{
  color:var(--main-blue);
}
